---
import Layout from '../layouts/Layout.astro';
import MoviesList from "../components/MoviesList";
import Hero from "../components/Hero.astro";

let IMG_STORAGE_URL= "https://f005.backblazeb2.com/file/watchbeforeyoudie/"
---

<!doctype html>
<html lang="en">
<meta charset="UTF-8" />

<meta name="description" content="Astro description" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>watch before you die</title>

<body>
	<main>
		<div class="bg-background overflow-hidden text-text text-sm grid auto-rows-400 gap-1 font-poppins sm:grid-cols-auto-fit-16">
			<Hero />
			<MoviesList imgStorageUrl={IMG_STORAGE_URL} client:only/>
		</div >
	</main>
</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>

